In [3]:
# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! ING Lion's den 2024!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
#### Michal Bryzik(*)
#### Kacper Gruca($)
#### Michal Niegierewicz(&)
#### Jan Slusarek(^)

# Zadanie 1 

# Jesli robicie to na VScode ogarnijcie jadro!!!!!

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
data=pd.read_csv('ID,customer_id,application_date,tar.csv') # Wczytujemy^
data.head # Pierwsze 5 rekordow^

<bound method NDFrame.head of              ID  customer_id   application_date  target Application_status  \
0      11034977     32537148  01Feb2010 0:00:00     0.0           Approved
1      11034978     32761663  01Feb2010 0:00:00     0.0           Approved
2      11034979     32701063  01Feb2010 0:00:00     0.0           Approved
3      11034980     32386786  01Feb2010 0:00:00     0.0           Approved
4      11034981     32692110  02Feb2010 0:00:00     NaN           Rejected
...         ...          ...                ...     ...                ...
49995  11084972     32554904  31Dec2020 0:00:00     1.0           Approved
49996  11084973     32884069  31Dec2020 0:00:00     NaN           Rejected
49997  11084974     32433438  31Dec2020 0:00:00     0.0           Approved
49998  11084975     32877592  31Dec2020 0:00:00     NaN           Rejected
49999  11084976     32834539  31Dec2020 0:00:00     0.0           Approved

       Var1  Var2    Var3   Var4  Var5  ...  Var22  Var23   Var24    Var25  \
0         1   2.0       1   7800    99  ...      1      1       0  6768.42
1         1   1.0       2  11100    78  ...      0      0   15000  5937.66
2         2   3.0       1   2400    15  ...      2      2       0  5647.77
3         3   1.0       2  11800    30  ...      0      0       0  3594.90
4         1   2.0       1  10200    72  ...      2      2       0  9908.45
...     ...   ...     ...    ...   ...  ...    ...    ...     ...      ...
49995     2   1.0       1  49200   111  ...      2      2       0      NaN
49996     1   2.0       1  25600    30  ...      3      4       0      NaN
49997     1   1.0       1  46700    18  ...      0      0       0  9288.87
49998     1   1.0  Direct  44300   162  ...      3      3  102000      NaN
49999     1   3.0       3   6400     9  ...      0      0       0      NaN

           Var26  Var27  Var28 Var29  Var30       _r_
0           0.00      0      0     0   3899  0.267045
1        3870.60      0      0     0   3899  0.533040
2        1463.08      0      0    10   3899  0.861555
3       21563.78      0      0    10   3899  0.506451
4           0.00      0      0    20   3899  0.210913
...          ...    ...    ...   ...    ...       ...
49995        NaN      0      0     0  12832  0.783954
49996        NaN      0      0     0  12832  0.172590
49997  255018.31      0      0     0  12832  0.060722
49998        NaN      0      0    10  12832  0.845866
49999        NaN      0      0     0  12832  0.733623

[50000 rows x 36 columns]>

In [5]:
data.shape # Wymiar macierzy danych treningowych^

(50000, 36)

In [6]:
data.isnull().sum() # Zliczamy liczbe nulli dla kazdej kolumny^

ID                        0
customer_id               0
application_date          0
target                13282
Application_status        0
Var1                      0
Var2                   1403
Var3                   1403
Var4                      0
Var5                      0
Var6                      0
Var7                      0
Var8                  29173
Var9                      0
Var10                 37538
Var11                     0
Var12                 37538
Var13                     0
Var14                     0
Var15                     0
Var16                     0
Var17                    40
Var18                 37416
Var19                 29173
Var20                     0
Var21                     0
Var22                     0
Var23                     0
Var24                     0
Var25                 10088
Var26                 19883
Var27                     0
Var28                     0
Var29                     0
Var30                     0
_r_                       0
dtype: int64

In [7]:
data.info() # Analityka z typami danych dla kazdej kolumny ^ 
# Hmmm pasuje je posortowac kolumnami tzn. najpierw numeryczne potem kategoryczne porzadkowe i na koncu binarne^

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 36 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  50000 non-null  int64
 1   customer_id         50000 non-null  int64
 2   application_date    50000 non-null  object
 3   target              36718 non-null  float64
 4   Application_status  50000 non-null  object
 5   Var1                50000 non-null  int64
 6   Var2                48597 non-null  float64
 7   Var3                48597 non-null  object
 8   Var4                50000 non-null  int64
 9   Var5                50000 non-null  int64
 10  Var6                50000 non-null  int64
 11  Var7                50000 non-null  float64
 12  Var8                20827 non-null  float64
 13  Var9                50000 non-null  int64
 14  Var10               12462 non-null  float64
 15  Var11               50000 non-null  int64
 16  Var12               12462 non-null  float64
 17  Var13               50000 non-null  object
 18  Var14               50000 non-null  int64
 19  Var15               50000 non-null  int64
 20  Var16               50000 non-null  int64
 21  Var17               49960 non-null  float64
 22  Var18               12584 non-null  float64
 23  Var19               20827 non-null  float64
 24  Var20               50000 non-null  int64
 25  Var21               50000 non-null  int64
 26  Var22               50000 non-null  int64
 27  Var23               50000 non-null  int64
 28  Var24               50000 non-null  int64
 29  Var25               39912 non-null  float64
 30  Var26               30117 non-null  float64
 31  Var27               50000 non-null  int64
 32  Var28               50000 non-null  int64
 33  Var29               50000 non-null  int64
 34  Var30               50000 non-null  int64
 35  _r_                 50000 non-null  float64
dtypes: float64(12), int64(20), object(4)
memory usage: 13.7+ MB