In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('../data/input/development_sample.csv')

In [5]:
df.sample(5)

,ID,customer_id,application_date,target,Application_status,Var1,Var2,Var3,Var4,Var5,...,Var22,Var23,Var24,Var25,Var26,Var27,Var28,Var29,Var30,_r_
35763,11070740,32880241,20Jun2018 0:00:00,0.0,Approved,3,1.0,2,40500,27,...,0,0,0,NaN,NaN,0,0,30,11839,0.657388
33156,11068133,32428232,26Dec2017 0:00:00,0.0,Approved,1,3.0,1,6300,12,...,1,2,0,13543.48,17538.65,0,0,0,8569,0.002967
17440,11052417,32469518,26Oct2014 0:00:00,0.0,Approved,1,3.0,2,3800,15,...,1,1,0,NaN,NaN,0,0,0,5128,0.762130
12172,11047149,32791776,21Aug2013 0:00:00,0.0,Approved,2,1.0,1,11800,36,...,0,0,0,3566.13,9803.29,0,0,0,5035,0.361597
39295,11074272,32784958,10Feb2019 0:00:00,0.0,Approved,1,1.0,2,48100,39,...,0,0,50400,NaN,NaN,0,0,0,11839,0.647784

In [6]:
df.isnull().sum()

ID                        0
customer_id               0
application_date          0
target                13282
Application_status        0
Var1                      0
Var2                   1403
Var3                   1403
Var4                      0
Var5                      0
Var6                      0
Var7                      0
Var8                  29173
Var9                      0
Var10                 37538
Var11                     0
Var12                 37538
Var13                     0
Var14                     0
Var15                     0
Var16                     0
Var17                    40
Var18                 37416
Var19                 29173
Var20                     0
Var21                     0
Var22                     0
Var23                     0
Var24                     0
Var25                 10088
Var26                 19883
Var27                     0
Var28                     0
Var29                     0
Var30                     0
_r_                       0
dtype: int64

In [7]:
df.describe()

,ID,customer_id,target,Var1,Var2,Var4,Var5,Var6,Var7,Var8,...,Var22,Var23,Var24,Var25,Var26,Var27,Var28,Var29,Var30,_r_
count,5.000000e+04,5.000000e+04,36718.000000,50000.00000,48597.000000,50000.000000,50000.000000,50000.00000,50000.000000,20827.000000,...,50000.000000,50000.000000,50000.000000,39912.000000,30117.000000,50000.000000,50000.000000,50000.00000,50000.000000,5.000000e+04
mean,1.105998e+07,3.262894e+07,0.030693,1.33786,1.915098,17123.466000,42.141900,1.54724,1330.747722,35911.341048,...,1.355780,1.714940,7693.896000,13058.171210,24822.929304,0.012080,0.044480,6.78040,8182.152860,4.980869e-01
std,1.443390e+04,1.537429e+05,0.172488,0.66462,0.861268,12217.178461,45.378778,1.23719,1619.370201,18153.197904,...,1.591129,1.814075,20984.098355,13389.951429,26670.053145,0.109244,0.206161,10.83386,3190.983287,2.880834e-01
min,1.103498e+07,3.236142e+07,0.000000,1.00000,1.000000,700.000000,6.000000,1.00000,53.980000,4900.000000,...,0.000000,0.000000,0.000000,260.360000,0.000000,0.000000,0.000000,0.00000,3899.000000,3.953460e-07
25%,1.104748e+07,3.249680e+07,0.000000,1.00000,1.000000,6900.000000,15.000000,1.00000,470.112500,21400.000000,...,0.000000,0.000000,0.000000,4989.687500,5928.370000,0.000000,0.000000,0.00000,5035.000000,2.481838e-01
50%,1.105998e+07,3.263026e+07,0.000000,1.00000,2.000000,14100.000000,27.000000,1.00000,842.060000,31400.000000,...,1.000000,1.000000,0.000000,9020.885000,17291.290000,0.000000,0.000000,0.00000,8569.000000,4.966425e-01
75%,1.107248e+07,3.276254e+07,0.000000,1.00000,3.000000,24800.000000,48.000000,1.00000,1548.790000,47100.000000,...,2.000000,2.000000,0.000000,16279.495000,35005.380000,0.000000,0.000000,10.00000,11839.000000,7.468285e-01
max,1.108498e+07,3.289438e+07,1.000000,4.00000,3.000000,63700.000000,312.000000,6.00000,27075.540000,138300.000000,...,23.000000,26.000000,190800.000000,260497.970000,371035.800000,1.000000,1.000000,250.00000,12832.000000,9.999984e-01

In [8]:
df["target"].unique()

array([ 0., nan,  1.])

In [9]:
ones = df[df["target"] == 1].shape[0]
zeros = df[df["target"] == 0].shape[0]

non_NA = ones + zeros

perc_ones = ones / non_NA
perc_zeros = zeros / non_NA

perc_ones, perc_zeros

(0.030693392886322786, 0.9693066071136772)

In [10]:
from dateutil import parser

# Function to try parsing each value in the column and return unique formats
def get_unique_date_formats(column):
    unique_formats = set()
    for value in column:
        try:
            parsed_date = parser.parse(value)
            unique_formats.add(parsed_date.strftime('%Y-%m-%d %H:%M:%S'))  # Adjust the format as per your need
        except ValueError:
            pass
    return unique_formats

In [11]:
# Get unique date formats from the column
unique_formats = get_unique_date_formats(df['application_date'])

#for date_format in unique_formats:
#    print(date_format)

In [12]:
unique_formats

{'2011-01-25 00:00:00',
 '2018-12-13 00:00:00',
 '2010-11-03 00:00:00',
 '2011-10-01 00:00:00',
 '2010-10-14 00:00:00',
 '2020-09-29 00:00:00',
 '2018-12-11 00:00:00',
 '2018-02-23 00:00:00',
 '2012-02-09 00:00:00',
 '2013-12-24 00:00:00',
 '2019-10-16 00:00:00',
 '2017-05-09 00:00:00',
 '2016-12-16 00:00:00',
 '2012-08-10 00:00:00',
 '2020-08-11 00:00:00',
 '2017-02-25 00:00:00',
 '2014-08-11 00:00:00',
 '2015-01-17 00:00:00',
 '2020-10-20 00:00:00',
 '2012-06-05 00:00:00',
 '2013-11-16 00:00:00',
 '2014-03-09 00:00:00',
 '2017-10-24 00:00:00',
 '2020-05-27 00:00:00',
 '2013-06-18 00:00:00',
 '2014-12-22 00:00:00',
 '2018-03-25 00:00:00',
 '2010-10-28 00:00:00',
 '2012-03-19 00:00:00',
 '2016-04-19 00:00:00',
 '2018-11-29 00:00:00',
 '2013-09-08 00:00:00',
 '2017-09-25 00:00:00',
 '2017-08-29 00:00:00',
 '2014-07-08 00:00:00',
 '2016-10-10 00:00:00',
 '2017-12-13 00:00:00',
 '2014-07-18 00:00:00',
 '2020-12-22 00:00:00',
 '2020-03-13 00:00:00',
 '2013-07-01 00:00:00',
 '2018-12-29 00:00:00',
 '2015-11-24 00:00:00',
 '2017-02-19 00:00:00',
 '2016-04-16 00:00:00',
 '2010-11-27 00:00:00',
 '2011-10-04 00:00:00',
 '2016-04-20 00:00:00',
 '2015-09-14 00:00:00',
 '2020-05-23 00:00:00',
 '2015-01-23 00:00:00',
 '2017-07-07 00:00:00',
 '2013-12-07 00:00:00',
 '2013-01-03 00:00:00',
 '2018-11-08 00:00:00',
 '2011-11-24 00:00:00',
 '2017-12-27 00:00:00',
 '2011-09-15 00:00:00',
 '2013-04-07 00:00:00',
 '2015-07-03 00:00:00',
 '2015-04-22 00:00:00',
 '2018-06-19 00:00:00',
 '2010-09-08 00:00:00',
 '2020-04-11 00:00:00',
 '2011-05-11 00:00:00',
 '2014-10-19 00:00:00',
 '2018-07-03 00:00:00',
 '2019-06-26 00:00:00',
 '2011-01-22 00:00:00',
 '2018-03-22 00:00:00',
 '2013-12-26 00:00:00',
 '2014-06-02 00:00:00',
 '2019-04-13 00:00:00',
 '2010-09-10 00:00:00',
 '2011-09-04 00:00:00',
 '2017-07-04 00:00:00',
 '2018-02-11 00:00:00',
 '2018-02-22 00:00:00',
 '2010-11-02 00:00:00',
 '2011-12-19 00:00:00',
 '2012-03-12 00:00:00',
 '2011-04-12 00:00:00',
 '2018-12-30 00:00:00',
 '2010-03-10 00:00:00',
 '2015-10-11 00:00:00',
 '2015-12-30 00:00:00',
 '2018-06-16 00:00:00',
 '2019-03-29 00:00:00',
 '2010-03-26 00:00:00',
 '2017-10-23 00:00:00',
 '2015-06-10 00:00:00',
 '2016-05-02 00:00:00',
 '2014-08-03 00:00:00',
 '2015-05-14 00:00:00',
 '2018-09-02 00:00:00',
 '2019-05-21 00:00:00',
 '2018-07-25 00:00:00',
 '2019-10-22 00:00:00',
 '2012-10-01 00:00:00',
 '2012-02-19 00:00:00',
 '2013-10-27 00:00:00',
 '2013-04-27 00:00:00',
 '2014-11-25 00:00:00',
 '2012-03-13 00:00:00',
 '2018-08-08 00:00:00',
 '2016-12-25 00:00:00',
 '2019-01-26 00:00:00',
 '2011-12-11 00:00:00',
 '2015-10-08 00:00:00',
 '2018-11-04 00:00:00',
 '2014-10-03 00:00:00',
 '2020-01-03 00:00:00',
 '2010-02-04 00:00:00',
 '2010-12-30 00:00:00',
 '2016-09-27 00:00:00',
 '2019-01-12 00:00:00',
 '2019-03-19 00:00:00',
 '2015-12-08 00:00:00',
 '2010-05-18 00:00:00',
 '2020-01-11 00:00:00',
 '2020-04-07 00:00:00',
 '2019-09-22 00:00:00',
 '2013-08-10 00:00:00',
 '2017-06-06 00:00:00',
 '2020-04-21 00:00:00',
 '2014-09-13 00:00:00',
 '2020-04-20 00:00:00',
 '2016-07-30 00:00:00',
 '2016-09-07 00:00:00',
 '2017-08-11 00:00:00',
 '2016-08-07 00:00:00',
 '2020-10-19 00:00:00',
 '2017-03-02 00:00:00',
 '2013-09-26 00:00:00',
 '2014-04-07 00:00:00',
 '2011-04-13 00:00:00',
 '2015-01-06 00:00:00',
 '2013-01-28 00:00:00',
 '2016-01-30 00:00:00',
 '2011-04-14 00:00:00',
 '2019-12-30 00:00:00',
 '2012-12-14 00:00:00',
 '2013-02-13 00:00:00',
 '2018-05-23 00:00:00',
 '2015-07-09 00:00:00',
 '2014-03-15 00:00:00',
 '2011-11-13 00:00:00',
 '2017-04-28 00:00:00',
 '2010-03-18 00:00:00',
 '2013-09-19 00:00:00',
 '2017-07-16 00:00:00',
 '2012-04-17 00:00:00',
 '2014-05-20 00:00:00',
 '2011-04-05 00:00:00',
 '2011-08-18 00:00:00',
 '2014-10-20 00:00:00',
 '2017-07-14 00:00:00',
 '2019-03-20 00:00:00',
 '2019-06-16 00:00:00',
 '2018-06-18 00:00:00',
 '2011-09-14 00:00:00',
 '2011-05-24 00:00:00',
 '2014-06-06 00:00:00',
 '2014-06-30 00:00:00',
 '2016-06-29 00:00:00',
 '2010-06-11 00:00:00',
 '2012-06-02 00:00:00',
 '2015-01-20 00:00:00',
 '2016-04-29 00:00:00',
 '2019-12-12 00:00:00',
 '2013-09-18 00:00:00',
 '2017-04-24 00:00:00',
 '2013-12-23 00:00:00',
 '2018-03-09 00:00:00',
 '2019-02-10 00:00:00',
 '2014-09-12 00:00:00',
 '2015-07-28 00:00:00',
 '2017-11-22 00:00:00',
 '2019-12-19 00:00:00',
 '2020-10-30 00:00:00',
 '2015-12-27 00:00:00',
 '2015-11-11 00:00:00',
 '2016-12-04 00:00:00',
 '2019-07-03 00:00:00',
 '2014-09-10 00:00:00',
 '2011-07-02 00:00:00',
 '2017-03-24 00:00:00',
 '2016-01-28 00:00:00',
 '2010-08-10 00:00:00',
 '2011-09-13 00:00:00',
 '2013-06-28 00:00:00',
 '2018-06-02 00:00:00',
 '2019-10-07 00:00:00',
 '2013-11-19 00:00:00',
 '2011-03-07 00:00:00',
 '2013-12-12 00:00:00',
 '2016-02-09 00:00:00',
 '2012-05-09 00:00:00',
 '2017-05-10 00:00:00',
 '2013-04-18 00:00:00',
 '2014-03-04 00:00:00',
 '2014-11-11 00:00:00',
 '2013-01-27 00:00:00',
 '2018-04-17 00:00:00',
 '2019-06-24 00:00:00',
 '2019-09-05 00:00:00',
 '2018-07-09 00:00:00',
 '2011-02-17 00:00:00',
 '2010-10-21 00:00:00',
 '2010-12-09 00:00:00',
 '2013-12-19 00:00:00',
 '2012-11-06 00:00:00',
 '2013-02-06 00:00:00',
 '2016-10-27 00:00:00',
 '2017-12-11 00:00:00',
 '2014-08-14 00:00:00',
 '2015-08-16 00:00:00',
 '2018-05-30 00:00:00',
 '2019-09-10 00:00:00',
 '2014-10-25 00:00:00',
 '2016-09-01 00:00:00',
 '2010-03-02 00:00:00',
 '2017-05-13 00:00:00',
 '2020-05-09 00:00:00',
 '2016-11-09 00:00:00',
 '2010-04-25 00:00:00',
 '2020-07-14 00:00:00',
 '2017-11-18 00:00:00',
 '2011-07-29 00:00:00',
 '2013-02-26 00:00:00',
 '2015-09-30 00:00:00',
 '2014-12-12 00:00:00',
 '2011-03-31 00:00:00',
 '2014-02-08 00:00:00',
 '2010-08-12 00:00:00',
 '2020-12-06 00:00:00',
 '2017-04-03 00:00:00',
 '2014-05-02 00:00:00',
 '2014-08-28 00:00:00',
 '2012-09-01 00:00:00',
 '2017-08-21 00:00:00',
 '2013-04-02 00:00:00',
 '2012-01-29 00:00:00',
 '2017-07-23 00:00:00',
 '2019-02-06 00:00:00',
 '2013-12-09 00:00:00',
 '2013-12-22 00:00:00',
 '2020-03-19 00:00:00',
 '2017-09-14 00:00:00',
 '2018-04-30 00:00:00',
 '2016-09-10 00:00:00',
 '2019-11-30 00:00:00',
 '2020-01-04 00:00:00',
 '2014-10-17 00:00:00',
 '2019-01-21 00:00:00',
 '2016-02-18 00:00:00',
 '2020-05-16 00:00:00',
 '2012-06-12 00:00:00',
 '2011-03-21 00:00:00',
 '2013-04-21 00:00:00',
 '2013-11-11 00:00:00',
 '2015-01-29 00:00:00',
 '2016-07-10 00:00:00',
 '2020-06-07 00:00:00',
 '2010-05-17 00:00:00',
 '2020-06-22 00:00:00',
 '2015-03-28 00:00:00',
 '2018-03-21 00:00:00',
 '2017-02-17 00:00:00',
 '2019-07-28 00:00:00',
 '2013-11-04 00:00:00',
 '2020-02-01 00:00:00',
 '2018-12-05 00:00:00',
 '2012-04-20 00:00:00',
 '2017-02-14 00:00:00',
 '2016-11-04 00:00:00',
 '2016-01-16 00:00:00',
 '2011-08-17 00:00:00',
 '2018-11-12 00:00:00',
 '2012-08-01 00:00:00',
 '2018-04-19 00:00:00',
 '2016-01-25 00:00:00',
 '2014-05-26 00:00:00',
 '2019-11-28 00:00:00',
 '2015-09-11 00:00:00',
 '2018-11-27 00:00:00',
 '2016-08-19 00:00:00',
 '2012-03-07 00:00:00',
 '2011-07-20 00:00:00',
 '2018-06-26 00:00:00',
 '2016-10-17 00:00:00',
 '2015-07-18 00:00:00',
 '2011-05-09 00:00:00',
 '2016-01-29 00:00:00',
 '2014-02-01 00:00:00',
 '2016-06-14 00:00:00',
 '2010-04-23 00:00:00',
 '2014-02-20 00:00:00',
 '2016-02-27 00:00:00',
 '2017-07-29 00:00:00',
 '2018-05-04 00:00:00',
 '2011-08-13 00:00:00',
 '2016-08-13 00:00:00',
 '2015-01-31 00:00:00',
 '2011-10-30 00:00:00',
 '2014-12-15 00:00:00',
 '2012-10-28 00:00:00',
 '2011-10-15 00:00:00',
 '2020-10-07 00:00:00',
 '2016-09-20 00:00:00',
 '2019-01-05 00:00:00',
 '2012-04-14 00:00:00',
 '2014-05-15 00:00:00',
 '2016-01-26 00:00:00',
 '2019-03-11 00:00:00',
 '2011-06-29 00:00:00',
 '2014-07-09 00:00:00',
 '2016-12-18 00:00:00',
 '2011-07-23 00:00:00',
 '2014-07-30 00:00:00',
 '2015-02-25 00:00:00',
 '2018-03-05 00:00:00',
 '2015-10-01 00:00:00',
 '2014-10-15 00:00:00',
 '2018-08-01 00:00:00',
 '2012-06-24 00:00:00',
 '2016-12-02 00:00:00',
 '2013-05-03 00:00:00',
 '2020-05-01 00:00:00',
 '2020-06-26 00:00:00',
 '2020-10-25 00:00:00',
 '2010-07-24 00:00:00',
 '2015-02-15 00:00:00',
 '2015-03-30 00:00:00',
 '2016-04-10 00:00:00',
 '2016-05-10 00:00:00',
 '2015-04-16 00:00:00',
 '2014-01-22 00:00:00',
 '2015-04-26 00:00:00',
 '2018-02-03 00:00:00',
 '2013-03-10 00:00:00',
 '2015-03-15 00:00:00',
 '2019-04-15 00:00:00',
 '2013-02-07 00:00:00',
 '2011-05-05 00:00:00',
 '2014-10-12 00:00:00',
 '2015-12-15 00:00:00',
 '2017-10-15 00:00:00',
 '2012-04-23 00:00:00',
 '2015-03-19 00:00:00',
 '2012-01-30 00:00:00',
 '2017-12-06 00:00:00',
 '2018-07-06 00:00:00',
 '2014-04-30 00:00:00',
 '2014-11-24 00:00:00',
 '2011-03-04 00:00:00',
 '2013-09-28 00:00:00',
 '2016-11-07 00:00:00',
 '2018-04-18 00:00:00',
 '2019-02-21 00:00:00',
 '2020-04-29 00:00:00',
 '2010-08-30 00:00:00',
 '2011-10-05 00:00:00',
 '2015-02-11 00:00:00',
 '2019-05-03 00:00:00',
 '2010-06-24 00:00:00',
 '2016-12-20 00:00:00',
 '2010-05-12 00:00:00',
 '2016-04-03 00:00:00',
 '2019-01-11 00:00:00',
 '2015-02-09 00:00:00',
 '2014-11-12 00:00:00',
 '2018-10-27 00:00:00',
 '2012-11-11 00:00:00',
 '2019-09-02 00:00:00',
 '2012-12-30 00:00:00',
 '2015-12-16 00:00:00',
 '2020-01-05 00:00:00',
 '2013-02-27 00:00:00',
 '2012-07-11 00:00:00',
 '2010-10-23 00:00:00',
 '2017-12-03 00:00:00',
 '2020-04-10 00:00:00',
 '2012-07-19 00:00:00',
 '2014-05-03 00:00:00',
 '2012-03-30 00:00:00',
 '2011-07-09 00:00:00',
 '2011-07-28 00:00:00',
 '2012-02-14 00:00:00',
 '2014-01-19 00:00:00',
 '2010-11-06 00:00:00',
 '2014-08-10 00:00:00',
 '2015-11-02 00:00:00',
 '2015-02-10 00:00:00',
 '2018-12-17 00:00:00',
 '2020-04-17 00:00:00',
 '2013-03-11 00:00:00',
 '2016-01-19 00:00:00',
 '2016-11-06 00:00:00',
 '2014-09-03 00:00:00',
 '2011-12-13 00:00:00',
 '2016-03-27 00:00:00',
 '2015-02-13 00:00:00',
 '2010-07-04 00:00:00',
 '2010-06-02 00:00:00',
 '2011-12-30 00:00:00',
 '2016-06-18 00:00:00',
 '2014-10-09 00:00:00',
 '2017-12-21 00:00:00',
 '2014-11-21 00:00:00',
 '2018-05-09 00:00:00',
 '2013-06-09 00:00:00',
 '2015-08-03 00:00:00',
 '2015-03-03 00:00:00',
 '2013-09-30 00:00:00',
 '2016-12-13 00:00:00',
 '2017-09-20 00:00:00',
 '2017-05-23 00:00:00',
 '2017-05-01 00:00:00',
 '2012-02-01 00:00:00',
 '2013-04-26 00:00:00',
 '2014-07-24 00:00:00',
 '2016-03-29 00:00:00',
 '2012-05-14 00:00:00',
 '2016-02-22 00:00:00',
 '2019-09-23 00:00:00',
 '2019-11-06 00:00:00',
 '2010-06-30 00:00:00',
 '2014-12-11 00:00:00',
 '2015-09-21 00:00:00',
 '2020-02-19 00:00:00',
 '2017-04-01 00:00:00',
 '2017-08-17 00:00:00',
 '2011-08-29 00:00:00',
 '2015-05-23 00:00:00',
 '2013-03-15 00:00:00',
 '2010-04-12 00:00:00',
 '2017-04-21 00:00:00',
 '2017-06-01 00:00:00',
 '2014-03-24 00:00:00',
 '2010-02-17 00:00:00',
 '2011-08-14 00:00:00',
 '2020-08-31 00:00:00',
 '2020-08-07 00:00:00',
 '2016-01-22 00:00:00',
 '2015-05-28 00:00:00',
 '2017-02-03 00:00:00',
 '2014-02-04 00:00:00',
 '2015-05-16 00:00:00',
 '2019-02-05 00:00:00',
 '2020-10-11 00:00:00',
 '2011-08-08 00:00:00',
 '2018-09-20 00:00:00',
 '2020-03-27 00:00:00',
 '2019-12-22 00:00:00',
 '2011-01-21 00:00:00',
 '2013-08-08 00:00:00',
 '2010-09-22 00:00:00',
 '2012-01-28 00:00:00',
 '2015-08-29 00:00:00',
 '2015-01-26 00:00:00',
 '2015-04-02 00:00:00',
 '2015-01-01 00:00:00',
 '2013-07-12 00:00:00',
 '2010-05-30 00:00:00',
 '2013-09-16 00:00:00',
 '2011-09-17 00:00:00',
 '2014-07-26 00:00:00',
 '2010-02-16 00:00:00',
 '2015-06-02 00:00:00',
 '2011-07-14 00:00:00',
 '2012-08-29 00:00:00',
 '2014-01-03 00:00:00',
 '2016-07-12 00:00:00',
 '2010-11-30 00:00:00',
 '2018-12-08 00:00:00',
 '2012-09-18 00:00:00',
 '2020-10-02 00:00:00',
 '2010-06-28 00:00:00',
 '2011-05-26 00:00:00',
 '2017-08-22 00:00:00',
 '2019-12-29 00:00:00',
 '2014-10-14 00:00:00',
 '2013-06-20 00:00:00',
 '2014-12-09 00:00:00',
 '2018-06-03 00:00:00',
 '2015-02-24 00:00:00',
 '2011-06-12 00:00:00',
 '2013-10-25 00:00:00',
 '2016-12-22 00:00:00',
 '2011-01-26 00:00:00',
 '2018-09-23 00:00:00',
 '2019-12-17 00:00:00',
 '2011-11-18 00:00:00',
 '2016-03-14 00:00:00',
 '2014-03-10 00:00:00',
 '2015-11-07 00:00:00',
 '2013-04-23 00:00:00',
 '2016-03-04 00:00:00',
 '2019-08-21 00:00:00',
 '2013-09-12 00:00:00',
 '2018-05-05 00:00:00',
 '2010-02-20 00:00:00',
 '2011-08-01 00:00:00',
 '2015-06-13 00:00:00',
 '2018-11-16 00:00:00',
 '2013-02-10 00:00:00',
 '2016-02-05 00:00:00',
 '2011-03-06 00:00:00',
 '2013-05-30 00:00:00',
 '2016-03-13 00:00:00',
 '2017-01-16 00:00:00',
 '2016-08-24 00:00:00',
 '2020-07-12 00:00:00',
 '2019-07-21 00:00:00',
 '2015-09-12 00:00:00',
 '2012-12-07 00:00:00',
 '2012-07-22 00:00:00',
 '2018-12-07 00:00:00',
 '2014-08-23 00:00:00',
 '2020-04-02 00:00:00',
 '2018-01-05 00:00:00',
 '2018-02-04 00:00:00',
 '2015-04-08 00:00:00',
 '2015-06-17 00:00:00',
 '2018-05-07 00:00:00',
 '2011-11-15 00:00:00',
 '2015-08-19 00:00:00',
 '2018-07-27 00:00:00',
 '2010-03-11 00:00:00',
 '2019-10-17 00:00:00',
 '2017-07-30 00:00:00',
 '2010-04-22 00:00:00',
 '2017-04-07 00:00:00',
 '2012-07-14 00:00:00',
 '2019-06-03 00:00:00',
 '2012-11-05 00:00:00',
 '2020-09-12 00:00:00',
 '2011-06-03 00:00:00',
 '2014-04-10 00:00:00',
 '2012-08-31 00:00:00',
 '2020-09-05 00:00:00',
 '2017-08-03 00:00:00',
 '2019-10-20 00:00:00',
 '2019-02-20 00:00:00',
 '2016-04-30 00:00:00',
 '2010-10-16 00:00:00',
 '2013-05-29 00:00:00',
 '2016-04-09 00:00:00',
 '2012-12-06 00:00:00',
 '2020-11-22 00:00:00',
 '2020-10-12 00:00:00',
 '2012-08-02 00:00:00',
 '2011-01-31 00:00:00',
 '2017-12-02 00:00:00',
 '2016-01-13 00:00:00',
 '2016-03-12 00:00:00',
 '2018-04-25 00:00:00',
 '2011-02-12 00:00:00',
 '2010-09-04 00:00:00',
 '2013-03-05 00:00:00',
 '2014-08-30 00:00:00',
 '2015-02-23 00:00:00',
 '2014-03-18 00:00:00',
 '2011-05-07 00:00:00',
 '2016-01-03 00:00:00',
 '2016-11-02 00:00:00',
 '2015-03-20 00:00:00',
 '2015-05-20 00:00:00',
 '2020-11-12 00:00:00',
 '2012-01-31 00:00:00',
 '2019-10-18 00:00:00',
 '2010-07-15 00:00:00',
 '2017-08-31 00:00:00',
 '2018-01-16 00:00:00',
 '2020-03-16 00:00:00',
 '2016-08-21 00:00:00',
 '2014-12-23 00:00:00',
 '2015-08-02 00:00:00',
 '2016-09-18 00:00:00',
 '2018-08-18 00:00:00',
 '2013-01-05 00:00:00',
 '2018-10-09 00:00:00',
 '2012-05-06 00:00:00',
 '2020-09-04 00:00:00',
 '2013-08-18 00:00:00',
 '2014-11-15 00:00:00',
 '2020-09-10 00:00:00',
 '2019-09-16 00:00:00',
 '2011-01-04 00:00:00',
 '2015-05-29 00:00:00',
 '2016-08-31 00:00:00',
 '2019-02-07 00:00:00',
 '2018-04-28 00:00:00',
 '2013-06-16 00:00:00',
 '2016-08-23 00:00:00',
 '2012-09-09 00:00:00',
 '2018-08-12 00:00:00',
 '2015-01-15 00:00:00',
 '2013-07-24 00:00:00',
 '2017-03-06 00:00:00',
 '2012-10-26 00:00:00',
 '2015-02-07 00:00:00',
 '2014-10-22 00:00:00',
 '2013-07-31 00:00:00',
 '2014-01-28 00:00:00',
 '2014-10-08 00:00:00',
 '2017-12-19 00:00:00',
 '2013-12-31 00:00:00',
 '2013-09-09 00:00:00',
 '2018-03-28 00:00:00',
 '2020-08-09 00:00:00',
 '2020-10-22 00:00:00',
 '2010-06-18 00:00:00',
 '2018-03-24 00:00:00',
 '2018-05-25 00:00:00',
 '2010-09-01 00:00:00',
 '2019-02-25 00:00:00',
 '2015-02-27 00:00:00',
 '2016-01-10 00:00:00',
 '2019-10-29 00:00:00',
 '2019-08-29 00:00:00',
 '2020-08-02 00:00:00',
 '2018-01-17 00:00:00',
 '2020-08-29 00:00:00',
 '2017-04-13 00:00:00',
 '2014-10-27 00:00:00',
 '2017-09-30 00:00:00',
 '2014-08-27 00:00:00',
 '2019-01-22 00:00:00',
 '2018-09-26 00:00:00',
 '2016-05-12 00:00:00',
 '2016-08-30 00:00:00',
 '2018-09-25 00:00:00',
 '2015-09-26 00:00:00',
 '2011-06-05 00:00:00',
 '2012-12-23 00:00:00',
 '2016-06-20 00:00:00',
 '2020-04-25 00:00:00',
 '2020-09-14 00:00:00',
 '2020-04-30 00:00:00',
 '2013-07-05 00:00:00',
 '2011-05-21 00:00:00',
 '2013-08-04 00:00:00',
 '2010-11-09 00:00:00',
 '2020-07-02 00:00:00',
 '2017-09-26 00:00:00',
 '2016-07-22 00:00:00',
 '2016-12-09 00:00:00',
 '2019-03-31 00:00:00',
 '2012-07-03 00:00:00',
 '2019-04-19 00:00:00',
 '2018-08-29 00:00:00',
 '2020-10-08 00:00:00',
 '2019-09-14 00:00:00',
 '2013-02-18 00:00:00',
 '2010-09-24 00:00:00',
 '2012-01-12 00:00:00',
 '2014-08-05 00:00:00',
 '2015-10-25 00:00:00',
 '2010-10-13 00:00:00',
 '2015-01-14 00:00:00',
 '2020-06-15 00:00:00',
 '2019-10-01 00:00:00',
 '2019-11-20 00:00:00',
 '2012-06-16 00:00:00',
 '2010-11-07 00:00:00',
 '2013-07-22 00:00:00',
 '2015-02-16 00:00:00',
 '2012-08-21 00:00:00',
 '2016-02-12 00:00:00',
 '2018-11-01 00:00:00',
 '2012-02-03 00:00:00',
 '2014-01-05 00:00:00',
 '2019-03-25 00:00:00',
 '2018-09-11 00:00:00',
 '2020-11-21 00:00:00',
 '2017-02-01 00:00:00',
 '2011-10-12 00:00:00',
 '2019-05-13 00:00:00',
 '2015-10-04 00:00:00',
 '2016-01-20 00:00:00',
 '2011-06-02 00:00:00',
 '2019-04-17 00:00:00',
 '2010-04-13 00:00:00',
 '2015-02-26 00:00:00',
 '2011-10-25 00:00:00',
 '2017-12-18 00:00:00',
 '2015-11-25 00:00:00',
 '2010-06-20 00:00:00',
 '2012-09-14 00:00:00',
 '2020-01-24 00:00:00',
 '2014-02-27 00:00:00',
 '2019-11-23 00:00:00',
 '2020-01-19 00:00:00',
 '2012-08-20 00:00:00',
 '2019-09-12 00:00:00',
 '2012-02-13 00:00:00',
 '2010-08-22 00:00:00',
 '2014-03-28 00:00:00',
 '2018-05-17 00:00:00',
 '2010-06-19 00:00:00',
 '2010-06-07 00:00:00',
 '2013-12-28 00:00:00',
 '2016-04-24 00:00:00',
 '2019-10-24 00:00:00',
 '2012-10-25 00:00:00',
 '2012-06-04 00:00:00',
 '2012-02-02 00:00:00',
 '2017-11-19 00:00:00',
 '2018-12-23 00:00:00',
 '2020-09-07 00:00:00',
 '2012-07-25 00:00:00',
 '2014-01-11 00:00:00',
 '2012-12-18 00:00:00',
 '2017-03-13 00:00:00',
 '2020-06-04 00:00:00',
 '2010-04-11 00:00:00',
 '2017-11-05 00:00:00',
 '2019-07-11 00:00:00',
 '2019-02-28 00:00:00',
 '2017-05-15 00:00:00',
 '2016-05-25 00:00:00',
 '2020-12-15 00:00:00',
 '2010-07-10 00:00:00',
 '2011-01-09 00:00:00',
 '2012-11-24 00:00:00',
 '2012-10-06 00:00:00',
 '2015-12-14 00:00:00',
 '2020-04-01 00:00:00',
 '2014-07-22 00:00:00',
 '2010-04-03 00:00:00',
 '2012-09-16 00:00:00',
 '2017-08-19 00:00:00',
 '2018-02-12 00:00:00',
 '2018-02-15 00:00:00',
 '2020-09-13 00:00:00',
 '2016-08-05 00:00:00',
 '2015-10-24 00:00:00',
 '2018-03-29 00:00:00',
 '2014-07-16 00:00:00',
 '2015-07-14 00:00:00',
 '2010-10-04 00:00:00',
 '2011-04-26 00:00:00',
 '2016-12-24 00:00:00',
 '2015-09-24 00:00:00',
 '2017-07-06 00:00:00',
 '2016-01-06 00:00:00',
 '2013-03-20 00:00:00',
 '2017-04-26 00:00:00',
 '2017-07-24 00:00:00',
 '2012-10-18 00:00:00',
 '2019-08-06 00:00:00',
 '2018-04-22 00:00:00',
 '2019-03-30 00:00:00',
 '2017-01-31 00:00:00',
 '2012-04-06 00:00:00',
 '2017-09-03 00:00:00',
 '2020-11-25 00:00:00',
 '2011-10-18 00:00:00',
 '2019-12-03 00:00:00',
 '2020-06-14 00:00:00',
 '2011-04-10 00:00:00',
 '2017-10-21 00:00:00',
 '2011-03-01 00:00:00',
 '2019-09-30 00:00:00',
 '2020-05-11 00:00:00',
 '2015-07-19 00:00:00',
 '2014-12-25 00:00:00',
 '2016-04-06 00:00:00',
 '2017-10-05 00:00:00',
 '2017-03-26 00:00:00',
 '2015-01-09 00:00:00',
 '2018-06-29 00:00:00',
 '2019-05-01 00:00:00',
 '2020-11-29 00:00:00',
 '2017-01-25 00:00:00',
 '2011-01-19 00:00:00',
 '2018-10-17 00:00:00',
 '2020-06-18 00:00:00',
 '2017-05-12 00:00:00',
 '2012-01-23 00:00:00',
 '2010-08-09 00:00:00',
 '2019-04-02 00:00:00',
 '2010-09-11 00:00:00',
 '2012-09-10 00:00:00',
 '2015-11-12 00:00:00',
 '2014-02-24 00:00:00',
 '2019-08-25 00:00:00',
 '2020-10-26 00:00:00',
 '2012-12-05 00:00:00',
 '2015-05-30 00:00:00',
 '2015-08-31 00:00:00',
 '2016-07-29 00:00:00',
 '2014-02-17 00:00:00',
 '2016-04-15 00:00:00',
 '2020-02-28 00:00:00',
 '2010-12-21 00:00:00',
 '2020-10-28 00:00:00',
 '2012-11-10 00:00:00',
 '2010-07-17 00:00:00',
 '2010-02-07 00:00:00',
 '2010-11-05 00:00:00',
 '2017-07-27 00:00:00',
 '2012-04-03 00:00:00',
 '2017-05-18 00:00:00',
 '2018-01-18 00:00:00',
 '2018-03-19 00:00:00',
 '2014-03-07 00:00:00',
 '2014-06-25 00:00:00',
 '2010-12-10 00:00:00',
 '2010-07-19 00:00:00',
 '2016-05-21 00:00:00',
 '2012-06-17 00:00:00',
 '2014-12-18 00:00:00',
 '2018-01-13 00:00:00',
 '2011-06-30 00:00:00',
 '2020-12-08 00:00:00',
 '2017-06-26 00:00:00',
 '2016-11-03 00:00:00',
 '2012-01-13 00:00:00',
 '2016-02-20 00:00:00',
 '2013-06-27 00:00:00',
 '2013-11-06 00:00:00',
 '2013-01-17 00:00:00',
 '2019-10-15 00:00:00',
 '2019-06-05 00:00:00',
 '2012-03-26 00:00:00',
 '2015-09-23 00:00:00',
 '2012-07-05 00:00:00',
 '2018-10-29 00:00:00',
 '2019-06-17 00:00:00',
 '2011-06-09 00:00:00',