In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [37]:
df = pd.read_csv('../data/output/development_sample_cleaned.csv')

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35700 entries, 0 to 35699
Data columns (total 48 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   working_months      35700 non-null  int64
 1   ID                  35700 non-null  int64
 2   customer_id         35700 non-null  int64
 3   _r_                 35700 non-null  float64
 4   Var1                35700 non-null  int64
 5   Var4                35700 non-null  int64
 6   Var5                35700 non-null  int64
 7   Var6                35700 non-null  int64
 8   Var7                35700 non-null  float64
 9   Var15               35700 non-null  int64
 10  Var16               35700 non-null  int64
 11  Var17               35700 non-null  float64
 12  Var20               35700 non-null  int64
 13  Var21               35700 non-null  int64
 14  Var22               35700 non-null  int64
 15  Var23               35700 non-null  int64
 16  Var24               35700 non-null  int64
 17  Var25               35700 non-null  float64
 18  Var26               35700 non-null  float64
 19  Var29               35700 non-null  int64
 20  Var30               35700 non-null  int64
 21  target              35700 non-null  float64
 22  Application_status  35700 non-null  int64
 23  Var27               35700 non-null  int64
 24  Var28               35700 non-null  int64
 25  income              35700 non-null  int64
 26  loan_desc           35700 non-null  int64
 27  Var2_2.0            35700 non-null  int64
 28  Var2_3.0            35700 non-null  int64
 29  Var3_2.0            35700 non-null  int64
 30  Var3_3.0            35700 non-null  int64
 31  Var11_2             35700 non-null  int64
 32  Var11_3             35700 non-null  int64
 33  Var11_4             35700 non-null  int64
 34  Var11_5             35700 non-null  int64
 35  Var11_6             35700 non-null  int64
 36  Var11_7             35700 non-null  int64
 37  Var12_2.0           35700 non-null  int64
 38  Var12_3.0           35700 non-null  int64
 39  Var12_4.0           35700 non-null  int64
 40  Var12_5.0           35700 non-null  int64
 41  Var12_6.0           35700 non-null  int64
 42  Var12_7.0           35700 non-null  int64
 43  Var12_8.0           35700 non-null  int64
 44  Var14_1             35700 non-null  int64
 45  Var14_2             35700 non-null  int64
 46  Var14_3             35700 non-null  int64
 47  Var14_4             35700 non-null  int64
dtypes: float64(6), int64(42)
memory usage: 13.1 MB

In [39]:
# Oryginalne definicje kategorii zmiennych
date_columns_orig = ['application_date', 'Var13']
numeric_columns_orig = ['ID', 'customer_id', '_r_', 'Var9', 'Var10', 'Var1', 'Var4', 'Var5', 'Var6', 'Var7', 'Var8', 'Var15', 'Var16', 'Var17', 'Var20', 'Var21', 'Var22', 'Var23', 'Var24', 'Var25', 'Var26', 'Var29', 'Var30']
categorical_columns_orig = ['Var2', 'Var3', 'Var11', 'Var12', 'Var14']
binary_columns_orig = ['target', 'Application_status', 'Var18', 'Var19', 'Var27', 'Var28']

# Nowe kolumny w DataFrame
new_columns = ['working_months', '_r_', 'Var1', 'Var4', 'Var5', 'Var6', 'Var7', 'Var15', 'Var16', 'Var17', 'Var20', 'Var21', 'Var22', 'Var23', 'Var24', 'Var25', 'Var26', 'Var29', 'Var30', 'target', 'Var27', 'Var28', 'income', 'loan_desc', 'Var2_2.0', 'Var2_3.0', 'Var3_2.0', 'Var3_3.0', 'Var11_2', 'Var11_3', 'Var11_4', 'Var11_5', 'Var11_6', 'Var11_7', 'Var12_2.0', 'Var12_3.0', 'Var12_4.0', 'Var12_5.0', 'Var12_6.0', 'Var12_7.0', 'Var12_8.0', 'Var14_1', 'Var14_2', 'Var14_3', 'Var14_4']

# Zaktualizowane definicje kategorii zmiennych, 'working_months' jest teraz klasyfikowane jako numeryczne
date_columns_updated = ['application_date']  # Usunięto 'Var13' i 'working_months' nie jest już tutaj
numeric_columns_updated = [col for col in new_columns if col in numeric_columns_orig or col == 'working_months']  # Dodano 'working_months'

# Teraz traktujemy zmienne po one hot encoding jako binarne oraz dodajemy 'income' i 'loan_desc' do odpowiednich kategorii
binary_columns_updated = [col for col in new_columns if col in binary_columns_orig or 'Var2_' in col or 'Var3_' in col or 'Var11_' in col or 'Var12_' in col or 'Var14_' in col]
# Wyświetlanie zaktualizowanych kategorii

print("Numeric columns:", numeric_columns_updated)
print("Binary columns:", binary_columns_updated)

Numeric columns: ['working_months', '_r_', 'Var1', 'Var4', 'Var5', 'Var6', 'Var7', 'Var15', 'Var16', 'Var17', 'Var20', 'Var21', 'Var22', 'Var23', 'Var24', 'Var25', 'Var26', 'Var29', 'Var30']
Binary columns: ['target', 'Var27', 'Var28', 'Var2_2.0', 'Var2_3.0', 'Var3_2.0', 'Var3_3.0', 'Var11_2', 'Var11_3', 'Var11_4', 'Var11_5', 'Var11_6', 'Var11_7', 'Var12_2.0', 'Var12_3.0', 'Var12_4.0', 'Var12_5.0', 'Var12_6.0', 'Var12_7.0', 'Var12_8.0', 'Var14_1', 'Var14_2', 'Var14_3', 'Var14_4']